@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

body {
    background-color: #f6f7fb;
    font-family: 'Muli', 'sans-serif';
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    /*progress container'ın buttonlarin degil sadece sayi ve cizgilerin etrafini sardigini bilir., boylece bunu satira esnek bir sekilde yerlestirir*/
    justify-content: space-between;
    /*kalan boslugu ogelerin arasına yerlestirir*/
    position: relative;
    /*????*/
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    /*????*/
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    /*sayıların konumu değişti??*/
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    /*çizgiyi tam oalrak ortalayabilmek için*/
    height: 4px;
    width: 0%;
    z-index: -1;
    /*çizgi dairelerin yani sayıların arkasına*/
    transition: 0.4s ease;
    /*çizgilerin geçiş süresi*/
}

.circle {
    background-color: #fff;
    color: #999;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    /*rakamları tam ortalayacak 3 satır*/
    display: flex;
    align-items: center;
    /*y ekseni baz alarak ortalar*/
    justify-content: center;
    /*içeriği ortaya yaslamak*/

    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
    /*active sınıfına göre gerçekleşecek sınır*/
}

.circle.active {
    border-color: var(--line-border-fill);
}

.btn {
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active {
    transform: scale(0.98);
    /*tıklandığında küçültme etkisi olur*/
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}